name: CI/CD Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Build Docker image
        run: |
          docker build -t my-fastapi-app .

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Verificar secrets
        run: |
          if [ -z "${{ secrets.DOCKER_USERNAME }}" ] || [ -z "${{ secrets.DOCKER_PASSWORD }}" ]; then
            echo "DOCKER_USERNAME ou DOCKER_PASSWORD estão vazios."
            exit 1
          else
            echo "Secrets OK"
          fi

      - name: Login no Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build e push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/my-fastapi-app:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/my-fastapi-app:latest

  discord:
    on:
      - push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Discord Notify Webhook
        uses: EDUJOS/ds-webhook@v1.0.0
        with:
          webhook_url: ${{ secrets.DISCORD_WEBHOOK }}
          title: Mensagem de Integração do Discord
          description: Esta é uma mensagem de integração do Discord ao GitHub Actions!